{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "max-len": ["error", 120, 4],
    "camelcase": "off",
    "promise/param-names": "off",
    "prefer-promise-reject-errors": "off",
    "no-control-regex": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "bracketSpacing": false,
        "printWidth": 120
      }
    ]
  }
}
