name: Release

on:
  # only run when tagged with version that is not -pre or -rc
  push:
    tags:
      - '*'
      - '!*-pre*'
      - '!*-rc*'

jobs:
  publish-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: check versions
        id: versions
        run: |
          echo "current=$(npm info exoframe-client version || echo 'no published package yet')" >> $GITHUB_OUTPUT
          echo "new=$(npm info ./packages/exoframe-client version)" >> $GITHUB_OUTPUT
      - name: install
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm ci
      - name: publish
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm publish --access public --tag latest -w exoframe-client
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: check versions
        id: versions
        run: |
          echo "current=$(npm info exoframe version || echo 'no published package yet')" >> $GITHUB_OUTPUT
          echo "new=$(npm info ./packages/exoframe-cli version)" >> $GITHUB_OUTPUT
      - name: install
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm ci
      - name: build
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm run build -w exoframe
      - name: publish
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm publish --access public --tag latest -w exoframe
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: check versions
        id: versions
        run: |
          echo "current=$(npm info exoframe-server version || echo 'no published package yet')" >> $GITHUB_OUTPUT
          echo "new=$(npm info ./packages/exoframe-server version)" >> $GITHUB_OUTPUT
      - name: install
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm ci
      - name: publish
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm publish --access public --tag latest -w exoframe-server
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Login to DockerHub Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Log in to Github Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: get version
        id: version
        run: |
          echo "new=$(npm info ./packages/exoframe-server version)" >> $GITHUB_OUTPUT
      - name: Build & push docker image
        working-directory: ./packages/exoframe-server
        env:
          IMAGE_NAME: exoframe/server
          GHCR_IMAGE_NAME: exoframejs/server
        run: |
          VERSION=${{ steps.version.outputs.new }}
          TAG="$VERSION"
          DEBUG_TAG="debug_$VERSION"
          echo VERSION=$VERSION
          docker build -f docker/Dockerfile --quiet --cache-from $IMAGE_NAME:$TAG --label "version=$VERSION" -t $IMAGE_NAME:$TAG .
          docker build -f docker/Dockerfile.debug --quiet --cache-from $IMAGE_NAME:$DEBUG_TAG --label "version=$VERSION" -t $IMAGE_NAME:$DEBUG_TAG .
          docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:latest
          docker tag $IMAGE_NAME:$DEBUG_TAG $IMAGE_NAME:debug_latest
          docker tag $IMAGE_NAME:$TAG ghcr.io/$GHCR_IMAGE_NAME:$TAG
          docker tag $IMAGE_NAME:$DEBUG_TAG ghcr.io/$GHCR_IMAGE_NAME:$DEBUG_TAG
          docker tag $IMAGE_NAME:$TAG ghcr.io/$GHCR_IMAGE_NAME:latest
          docker tag $IMAGE_NAME:$DEBUG_TAG ghcr.io/$GHCR_IMAGE_NAME:debug_latest
          docker push --all-tags $IMAGE_NAME
          docker push --all-tags ghcr.io/$GHCR_IMAGE_NAME

  publish-recipe-ghost:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: check versions
        id: versions
        run: |
          echo "current=$(npm info exoframe-recipe-ghost version || echo 'no published package yet')" >> $GITHUB_OUTPUT
          echo "new=$(npm info ./packages/exoframe-recipe-ghost version)" >> $GITHUB_OUTPUT
      - name: install
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm ci
      - name: publish
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm publish --access public --tag latest -w exoframe-recipe-ghost
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-template-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: check versions
        id: versions
        run: |
          echo "current=$(npm info exoframe-template-java version || echo 'no published package yet')" >> $GITHUB_OUTPUT
          echo "new=$(npm info ./packages/exoframe-template-java version)" >> $GITHUB_OUTPUT
      - name: install
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm ci
      - name: publish
        if: ${{ steps.versions.outputs.current != steps.versions.outputs.new }}
        run: npm publish --access public --tag latest -w exoframe-template-java
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
