name: Test
# test on every push and on PRs
on:
  push:
    branches: '*'
  pull_request:

jobs:
  test-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 'npm'
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint -w exoframe-client
      - name: test
        run: npm run test:ci -w exoframe-client

  test-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 'npm'
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint -w exoframe
      - name: test
        env:
          TEST_INPUT_TIMEOUT: 100
        run: npm run test:ci -w exoframe

  test-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 'npm'
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint -w exoframe-server
      - name: test
        run: npm run test:ci -w exoframe-server
